.nav-item {
    width: 20%;
    font-size: 1em;
}

.bodycontent {
    padding: 1% 3%;
    min-height: 800px;
    background-color: #d2fdfe;
}

#navbar {
    text-align: center;
    background-color: #00292a;
    color: #a2fcfd;
}

#navbar a {
    color: #a2fcfd;
}

#navbar a:hover {
    color: yellow;
    background-color: #00292a;
    text-decoration: none;
}

#wwfc {
    font-size: 2em;
    text-align: left;
    padding: 1% 0% 0% 1%;
    width: 50%;
}

#wwfc a {
    color: #a2fcfd;
}

#user {
    font-size: 1em;
    text-align: right;
    padding: 2% 8% 0% 0%;
    width: 50%;
    color: #a2fcfd;
}

#footer {
    text-align: center;
    background-color: #00292a;
    color: #a2fcfd;
    left: 0;
    bottom: 0;
    width: 100%;
}

.footlinks {
    padding: 0 1%;
    color: #a2fcfd;
}

.card-list {
    padding: 0;
}

.table-block {
    margin: 0;
    padding: 0;
    border: 0;
    white-space: nowrap;
    text-align: center;
}

.mytable {
    padding-left: 1%;
    padding-right: 1%;
    text-align: center;
}

.img-content {
    text-align: center;
    color: #a2fcfd;
    padding: 5% 0;
}

.anti-img-content {
    text-align: center;
    color: black;
}

.anti-img-left {
    text-align: left;
    color: black;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.container-member {
    position: relative;
    text-align: center;
    color: black;
    margin: auto;
}

.login-container {
    text-align: left;
    color: black;
}

.logreg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 50%;
}

.right-container {
    text-align: right;
    color: black;
    padding-right: 10%;
}

hr {
    border-top: 1px solid;
    width: 70%;
}

.mid-content1 {
    text-align: center;
}

.mid-content2 {
    text-align: center;
    margin: auto;
}

.mycard {
    margin: 1% 0;
    text-align: center;
    font-weight: bold;
}

.card-cust {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-body2 {
    padding: 0%;
}

.article {
    width: 70%;
    text-align: center;
    margin: auto;
}

.card-img-cust {
    width: 70%;
}

.blog-meta {
    font-size: 0.8em;
}

.img-left {
    float: left;
    width: 25%;
}

.img-right {
    float: right;
    width: 40%;
}

.article-detail-img {
    width: 70%;
}

.article-content {
    margin: 2% 10% ;
    text-align: justify;
}

.article-author {
    text-align: right;
    font-size: 2.5em;
}

.title {
    font-size: 4vw;
}

.subtitle {
    font-size: 2vw;
}

.container-member-image{
    position: relative;
    text-align: center;
}

.bottom-left {
    position: absolute;
    bottom: 1%;
    left: 1%;
    right: 1%;
  }

.top-right {
    position: absolute;
    top: 1%;
    right: 1%;
  }

.foot-img {
    width: 40%;
    margin: 10% 5%;
}

.top-left {
    position: absolute;
    top: 1%;
    left: 1%;
  }

.squad-number {
    font-size: 3.3em;
    padding: 0% 5%;
    font-weight: bolder;
}

.bulletin-number {
    font-size: 2em;
    padding: 0% 3%;
    font-weight: bolder;
}

#wwfcheaderlogo {
    width: 10%;
    margin: 0 4% 0 0;
}

#wwfloginlogo {
    width: 30%;
    margin: 0 0 0 0;
}