{% include 'home/header.html' %} 
{% include 'home/messages.html' %} 
{%block memberlist%} 
{% load static %}
{% if user.is_authenticated %}


<div class="container-member" style="background-color: #00292a;">
	<p class="title" style="color: white;"><strong>FORWARDS</strong></p>
	<div class="row">
		{% if attacker_obj %}
		{% for member in attacker_obj %}
		<div class="col-md-4 col-sm-6" style="padding: 0 0 2% 0; margin: auto;">
			<div
				class="card card-cust"
				style="width: 18rem; margin: auto;">

				<div class="container-member-image">
				<img
					src= {{member.image.url}}
					class="card-img-top card-img-cust"
					alt="Image of {{member.first_name}} {{member.last_name}}" />

					{% if member.preferred_foot|cut:" " == "Left" %}
					<div class="top-left" style="color: black;">
						<img class="foot-img" src="{% static './img/left.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-right squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% else %}
					<div class="top-right" style="color: black;">
						<img class="foot-img" src="{% static './img/right.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-left squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% endif %}
				</div>
				<div class="card-body card-body2">
					{{member.football_proficiency}}
					<h5 class="card-title">
						{{member.first_name|title}} {{member.last_name|title}}
					</h5>					
					<ul class="list-group list-group-flush">
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Preferred Role: </span> <strong>{{member.preferred_field_position}}</strong>
							<br>
							<span style="font-size: 0.8em;">Secondary Role: </span> <strong class="text-muted">{{member.secondary_field_position}}</strong>
						</li>
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Favorite Club: </span><strong>{{member.favorite_club}}</strong><br>
							<span style="font-size: 0.8em;">Favorite Player: </span><strong>{{member.favorite_player|title}}</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %} <p style="padding-left: 5%; color: white;">No Attackers on the Roster</p>. {% endif %}
	</div>
</div>



<div class="container-member" style="background-color: #016f70;">
	<p class="title"  style="color: white;"><strong>MIDFIELDERS</strong></p>
	<div class="row">
		{% if midfielder_obj %}
		{% for member in midfielder_obj %}
		<div class="col-md-4 col-sm-6" style="padding: 0 0 2% 0; margin: auto;">
			<div
				class="card card-cust"
				style="width: 18rem; margin: auto;">

				<div class="container-member-image">
				<img
					src= {{member.image.url}}
					class="card-img-top card-img-cust"
					alt="Image of {{member.first_name}} {{member.last_name}}" />

					{% if member.preferred_foot|cut:" " == "Left" %}
					<div class="top-left" style="color: black;">
						<img class="foot-img" src="{% static './img/left.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-right squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% else %}
					<div class="top-right" style="color: black;">
						<img class="foot-img" src="{% static './img/right.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-left squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% endif %}
				</div>
				<div class="card-body card-body2">
					{{member.football_proficiency}}
					<h5 class="card-title">
						{{member.first_name|title}} {{member.last_name|title}}
					</h5>					
					<ul class="list-group list-group-flush">
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Preferred Role: </span> <strong>{{member.preferred_field_position}}</strong>
							<br>
							<span style="font-size: 0.8em;">Secondary Role: </span> <strong class="text-muted">{{member.secondary_field_position}}</strong>
						</li>
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Favorite Club: </span><strong>{{member.favorite_club}}</strong><br>
							<span style="font-size: 0.8em;">Favorite Player: </span><strong>{{member.favorite_player|title}}</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %} <p style="padding-left: 5%; color: white;">No Midfielder on the Roster</p>. {% endif %}
	</div>
</div>



<div class="container-member" style="background-color: #39f9fc;">
	<p class="title"><strong>DEFENDERS</strong></p>
	<div class="row">
		{% if defender_obj %}
		{% for member in defender_obj %}
		<div class="col-md-4 col-sm-6" style="padding: 0 0 2% 0; margin: auto;">
			<div
				class="card card-cust"
				style="width: 18rem; margin: auto;">

				<div class="container-member-image">
				<img
					src= {{member.image.url}}
					class="card-img-top card-img-cust"
					alt="Image of {{member.first_name}} {{member.last_name}}" />

					{% if member.preferred_foot|cut:" " == "Left" %}
					<div class="top-left" style="color: black;">
						<img class="foot-img" src="{% static './img/left.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-right squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% else %}
					<div class="top-right" style="color: black;">
						<img class="foot-img" src="{% static './img/right.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-left squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% endif %}
				</div>
				<div class="card-body card-body2">
					{{member.football_proficiency}}
					<h5 class="card-title">
						{{member.first_name|title}} {{member.last_name|title}}
					</h5>					
					<ul class="list-group list-group-flush">
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Preferred Role: </span> <strong>{{member.preferred_field_position}}</strong>
							<br>
							<span style="font-size: 0.8em;">Secondary Role: </span> <strong class="text-muted">{{member.secondary_field_position}}</strong>
						</li>
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Favorite Club: </span><strong>{{member.favorite_club}}</strong><br>
							<span style="font-size: 0.8em;">Favorite Player: </span><strong>{{member.favorite_player|title}}</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %} <p style="padding-left: 5%; color: white;">No Defender on the Roster</p> {% endif %}
	</div>
</div>



<div class="container-member" style="background-color: #cafdfe;">
	<p class="title"><strong>GOALKEEPERS</strong></p>
	<div class="row">
		{% if goalkeeper_obj %}
		{% for member in goalkeeper_obj %}
		<div class="col-md-4 col-sm-6" style="padding: 0 0 2% 0; margin: auto;">
			<div
				class="card card-cust"
				style="width: 18rem; margin: auto;">

				<div class="container-member-image">
				<img
					src= {{member.image.url}}
					class="card-img-top card-img-cust"
					alt="Image of {{member.first_name}} {{member.last_name}}" />

					{% if member.preferred_foot|cut:" " == "Left" %}
					<div class="top-left" style="color: black;">
						<img class="foot-img" src="{% static './img/left.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-right squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% else %}
					<div class="top-right" style="color: black;">
						<img class="foot-img" src="{% static './img/right.png' %}">
						<br>
						{{member.preferred_foot}}
					</div>
					<div class="top-left squad-number" style="color: black;">
						{{member.number}}
					</div>
					{% endif %}
				</div>
				<div class="card-body card-body2">
					{{member.football_proficiency}}
					<h5 class="card-title">
						{{member.first_name|title}} {{member.last_name|title}}
					</h5>					
					<ul class="list-group list-group-flush">
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Preferred Role: </span> <strong>{{member.preferred_field_position}}</strong>
							<br>
							<span style="font-size: 0.8em;">Secondary Role: </span> <strong class="text-muted">{{member.secondary_field_position}}</strong>
						</li>
						<li class="list-group-item card-list">
							<span style="font-size: 0.8em;">Favorite Club: </span><strong>{{member.favorite_club}}</strong><br>
							<span style="font-size: 0.8em;">Favorite Player: </span><strong>{{member.favorite_player|title}}</strong>
						</li>
					</ul>
				</div>
			</div>
		</div>
		{% endfor %}
		{% else %} <p style="padding-left: 5%; color: white;">No Goalkeeper on the Roster</p> {% endif %}
	</div>
</div>

<div style="background: #00292a;">
	<div class="title" style="color: white; text-align: center;">Weekly Attendance <span class="subtitle">(values are in ₹)</span></div>

	<table class="table table-hover table-bordered table-light table-responsive table-block">
		<thead>
		  <tr>
			<th scope="col">#</th>
			{% for header in headers %}
			<th scope="col">{{header|title}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
			{% for row in attendance_rows %}
		  <tr>
			<th scope="row">{{ forloop.counter }}</th>
			{% for value in row %}
			{% if value < 0 %}
			<td style="color: red;">{{value}}</td>
			{% else %}
			<td>{{value}}</td>
			{% endif %}
			{% endfor %}
		  </tr>
		  {% endfor %}
		</tbody>
	</table>
</div>

<div style="background: #00292a;">
	<div class="title" style="color: white; text-align: center;">Current Balance <span class="subtitle">(as on {{balance_date}}, values are in ₹)</span></div>

	<table class="table table-hover table-bordered table-light table-responsive table-block">
		<thead>
		  <tr>
			{% for name in balance_names %}
			<th scope="col">{{name|title}}</th>
			{% endfor %}
		  </tr>
		</thead>
		<tbody>
		  <tr>
			{% for value in balance_values %}
			{% if value < 0 %}
			<td style="color: red;">{{value}}</td>
			{% else %}
			<td>{{value}}</td>
			{% endif %}
			{% endfor %}
		  </tr>
		</tbody>
	</table>
</div>

{% else %} This page is accessible only to Members. Please Login First. {% endif %} 
{%endblock%} 
{% include 'home/footer.html' %}
